PORT = 5000
MONGODB_URI = your connection url. example url : (mongodb+srv://username:<password>@cluster0-12)
SECRET_KEY = MWQTMI1o8kIkxhohXlZHpI7rcf8NpiBttrxsJr0ufT8Dozzlvi7sAKZAWSkZ+I7hQo873YWPJUEWdN6L+U7KLMfBzGi2EeKLYJbSJrXmopz07gTZsqhUbmseG6jq7m1MvFVRTkwJy88IVbv2Uev+0X8ZXXCizlJ2aTtehV6UW3ePHiBq11Rc7eHFvoxlceDiWesuLj87gWtG2J8eUPSAMXgiI0M7wOfm0Yjph8zFx2D7X51Ra536CTvbuuaTFRL727T1nmE6IXqiruVIlp6OBDhN4/D/7Y7zT1usnjMArDvxxkz46l29J8JnHklZEuiUnGIWVFPLgL6==